.justicon {
    text-decoration: none;
    position: relative;
    text-decoration: none;
}

.justicon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
}

		.justicon:before {
			line-height: inherit;
		}

		.justicon > .label {
			display: none;
		}

		.justicon.solid:before {
			font-weight: 900;
		}
