@charset "utf-8";
/* CSS Document */

.portfolioTextContent
{
	color: #FFF;
	text-shadow: 3px 5px 2px #474747, 2px 2px 2px #1C1C1C;	
}

a.portfolioTextContent:link
{
	color: #FFF;
	text-shadow: 3px 5px 2px #474747, 2px 2px 2px #1C1C1C;	
	text-decoration:none;
}

a.portfolioTextContent:hover
{
	color: #FFF;
	text-shadow: 3px 5px 2px #474747, 2px 2px 2px #1C1C1C;	
	text-decoration:underline;
}

a.portfolioTextContent:active
{
	color: #FFF;
	text-shadow: 3px 5px 2px #474747, 2px 2px 2px #1C1C1C;
	text-decoration:none;	
}

a.portfolioTextContent:visted
{
	color: #FFF;
	text-shadow: 3px 5px 2px #474747, 2px 2px 2px #1C1C1C;
	text-decoration:none;	
}



.portfolioTextContentBlack
{
	color: #000;
	text-shadow: 3px 5px 2px #FEFFF2, 2px 2px 2px #FEFFF2;	
}

a.portfolioTextContentBlack:link
{
	color: #000;
	text-shadow: 3px 5px 2px #FEFFF2, 2px 2px 2px #FEFFF2;	
	text-decoration:none;
}

a.portfolioTextContentBlack:hover
{
	color: #000;
	text-shadow: 3px 5px 2px #FEFFF2, 2px 2px 2px #FEFFF2;	
	text-decoration:underline;
}

a.portfolioTextContentBlack:active
{
	color: #000;
	text-shadow: 3px 5px 2px #FEFFF2, 2px 2px 2px #FEFFF2;
	text-decoration:none;	
}

a.portfolioTextContentBlack:visted
{
	color: #000;
	text-shadow: 3px 5px 2px #FEFFF2, 2px 2px 2px #FEFFF2;
	text-decoration:none;	
}

@media only screen and (min-width: 768px)
{
	.porfolioTextSection
	{
		font-size:2em;	
	}
}

@media only screen and (min-width: 600px)
{
	.porfolioTextSection
	{
		font-size:1em;	
	}
}

.porfolioGithubLogo
{
	color:#FFF;	
	font-size:2em;
}

.porfolioGithubLogoText
{
	color:#FFF;	
	font-size:1em;
	text-align:center;
}

a.porfolioGithubLogo:link
{
	color:#FFF;
	text-decoration:none;	
}
a.porfolioGithubLogo:visted
{
	color:#FFF;
	text-decoration:none;	
}
a.porfolioGithubLogo:hover
{
	color:#A10EEC;
	text-decoration:none;	
}

a.porfolioGithubLogo:active
{
	color:#A10EEC;
	text-decoration:none;	
}

.wrapper.starship1 {
	background: #A10EEC url(../images/Starship_Blur_1.jpg);
	background-size:cover;
	color: #eee;
	color: rgba(255, 255, 255, 0.75);
}

	.wrapper.starship1 .title {
		background: #57003f;
		color:#FFF;
	}

	.wrapper.starship1 .image {
		border: solid 10px #fff;
	}
	
html {
  scroll-behavior: smooth;
}